// @use "../Helpers/variales" as *;

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  max-width: 1400px;
  margin-right: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
.main {
  min-height: calc(100vh - 80px);
  overflow: hidden;
}
