.card {
  background-color: $light;
  padding: 20px;
  border-radius: $borderRadius;

  height: 400px;
  box-shadow: 0 0 10px $dark;
  h3 {
    display: block;
    height: 100px;
    line-height: 1;
    color: $mainColor;
  }
  .image {
    width: 100%;
    text-align: center;
    img {
      max-width: 100%;
      height: 200px;
    }
  }
  .info-btn {
    margin-top: 20px;
    color: $mainColor;
    width: 100px;
    &:hover {
      color: $light;
    }
  }
}
