.carts {
  padding: 30px 0;
  width: 100%;
  background-color: $mainColor;
  min-height: calc(100vh - 80px);
  .container {
    margin-top: 80px;
    .empty {
      color: $light;
      font-size: 5rem;
      line-height: normal;
      text-align: center;
    }
    .cart {
      background-color: $light;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      border-radius: 10px;
      color: $mainColor;
      font-size: 20px;
      gap: 30px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      @media (max-width: 767px) {
        flex-direction: column;
        padding: 20px;
      }
      img {
        width: 100px;
        border-radius: 6px;
      }
      p {
        font-size: 20px;
        font-weight: bold;
        width: 200px;
      }
      .count {
        display: flex;
        align-items: center;
        width: 120px;
        justify-content: space-between;
        color: $mainColor;
        font-size: 18px;
        span {
          font-size: 20px;
          font-weight: bold;
        }
        svg {
          color: $mainColor;
          cursor: pointer;
        }
      }
      .remove {
        color: $mainColor;
        cursor: pointer;
      }
      .total {
        font-size: 20px;
        font-weight: bold;
        width: 150px;
      }
    }

    .total-price {
      width: 100%;
      margin-top: 80px;
      background-color: $light;
      color: $mainColor;
      font-size: 20px;
      font-weight: bold;
      height: 54px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
