.slider {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  background-color: $mainColor;
  .slide {
    min-width: 100%;
    background-color: transparent;
    overflow: hidden;
    img {
      width: 100%;
      max-height: 675px;
    }
  }
}
